<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadcrumbs" class="pt-3 pl-0">
      <template slot="item" slot-scope="props">
        <a :href="props.item.href" :class="[props.item.disabled && 'disabled']">{{ props.item.text.toUpperCase() }}</a>
      </template>
    </v-breadcrumbs>
    <v-flex d-flex xs12 order-xs5>
      <v-layout column>
        <v-flex>
          <v-card>
            <v-card-text>
              <v-form>
                <v-text-field
                  :label="'Category Name'"
                  name="category_name"
                  v-model="categoryForm.category_name"
                  v-validate="'required'"
                  data-vv-name="category_name"
                  data-vv-as="Category Name"
                  :error-messages="errors.collect('category_name')"
                  required
                  @keyup.enter="submit">
                </v-text-field>
                <br/>
                <v-select
                  label="Status"
                  v-model="categoryForm.is_active"
                  :hint="`Default is, ${categoryForm.is_active ? 'Active' : 'Non Active'} `"
                  :items="statusOptions"
                  item-text="text"
                  item-value="value"
                  persistent-hint>
                </v-select>
              </v-form>
            </v-card-text>
            <v-divider v-show="!loading"></v-divider>
            <v-card-actions>
            <!-- button back -->
            <v-btn :to="{name: 'categories'}" small><v-icon>keyboard_arrow_left</v-icon>Back</v-btn>
            <v-spacer></v-spacer>

            <!-- button reset -->
            <v-btn @click="reset()" v-if="!id" small>{{ 'Reset' }}</v-btn>

            <!-- button submit -->
            <v-btn
              :loading="loading"
              small
              color="primary"
              :disabled="loading"
              @click="submit()">
              {{ id ? 'Update' : 'Save' }}
            </v-btn>
          </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
import { categories } from '~/config/api'
import { cloneDeep } from 'lodash'

const categoryForm = {
  category_name: '',
  is_active: 1
}

export default {
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      id: null,
      categoryForm: {
        ...categoryForm
      },
      loading: false,
      breadcrumbs: [
        { text: 'Category', disabled: false, href: 'javascript:void(0)' },
        { text: `${this.$route.params.id ? 'Edit Category' : 'Create Category'}`, disabled: true, href: 'javascript:void(0)' }
      ],
      statusOptions: [
        { text: 'Active', value: 1},
        { text: 'Non Active', value: 0}
      ]
    }
  },
  mounted () {
    this.reset()
    if (this.$route.params.id) {
      this.id = this.$route.params.id
      this.getCategoryById()
    }
  },
  methods: {
    getCategoryById () {
      this.loading = true
      axios.get(`${categories}/${this.id}`)
        .then(res => {
          this.loading = false
          if (res.status === 200) {
            const { data } = res.data
            this.categoryForm = {
              category_name: data.category_name,
              is_active: data.is_active
            }
          }
        })
        .catch(err => {
          this.loading = false
          console.log(err)
        })
    },
    submit () {
      this.$validator.validateAll().then((valid) => {
        if (valid) {
          if (this.id) {
            this.updateCategory()
          } else {
            this.createCategory()
          }
        }
      })
    },
    createCategory () {
      this.loading = true
      axios.post(categories, this.categoryForm)
        .then(res => {
          this.loading = false
          if (res.status === 201) {
            const { data } = res
            this.$router.push({name: 'categories'})
            this.$store.dispatch('showSnackbar', { color: 'success', msg: data.msg })
            this.reset()
          }
        })
        .catch(err => {
          this.loading = false
          const { status, data } = err.response
          if (status === 422) {
            for (var field in data) {
              this.errors.add({ field: field, msg: data[field][0] })
            }
          }
        })
    },
    updateCategory () {
      this.loading = true
      axios.put(`${categories}/${this.id}`, this.categoryForm)
        .then(res => {
          this.loading = false
          if (res.status === 200) {
            const { data } = res
            this.$router.push({name: 'categories'})
            this.$store.dispatch('showSnackbar', { color: 'success', msg: data.msg })
            this.reset()
          }
        })
        .catch(err => {
          this.loading = false
          const { status, data } = err.response
          if (status === 422) {
            for (var field in data) {
              this.errors.add({ field: field, msg: data[field][0] })
            }
          }
        })
    },
    reset () {
      this.categoryForm = cloneDeep(categoryForm)
      this.clear()
    },
    clear () {
      this.$validator.reset()
      this.errors.clear()
    }
  }
}
</script>
