<template>
  <v-app id="inspire">
    <Snackbar />

    <!-- sidebar -->
    <v-navigation-drawer
      v-model="$store.state.drawer"
      fixed
      app
      disable-route-watcher
      style="background: #222; overflow: visible"
      width="220px">
      <v-toolbar
        flat
        class="transparent"
        color="secondary"
        style="height: 50px; box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px -2px !important;">
        <v-list style="height: 50px; padding: 0px">
          <v-list-tile :to="{ name: 'home' }">
            <v-list-tile-title
              class="white--text"
              style="height: 50px; text-align: center; padding-top: 5px; font-size: 25px;">
              ONE & ZERO
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-list subheader dense dark style="padding-top: 10px;padding-left: 5px;">
        <template v-for="menu in menus">
          <v-subheader
            v-if="menu.subheader"
            :key="menu.title">
            {{ menu.title }}
          </v-subheader>
          <v-list-tile
            ripple
            style="color: #a6a6a6"
            @click="redirect(menu.route)"
            v-else-if="menu.childs.length === 0"
            :key="menu.title">
            <v-list-tile-action style="min-width: 30px;"><v-icon color="#a6a6a6" size="15">{{ menu.icon }}</v-icon></v-list-tile-action>
            <v-list-tile-title style="padding-top: 2.2px;">{{ menu.title }}</v-list-tile-title>
          </v-list-tile>
          <v-list-group
            v-if="menu.childs.length > 0"
            :key="menu.title"
            append-icon="chevron_right">
            <v-list-tile slot="activator" ripple style="color: #a6a6a6;">
              <v-list-tile-action style="min-width: 30px;"><v-icon color="#a6a6a6" size="15">{{ menu.icon }}</v-icon></v-list-tile-action>
              <v-list-tile-title style="padding-top: 2.2px;">{{ menu.title }}</v-list-tile-title>
            </v-list-tile>
            <template v-for="submenu in menu.childs">
              <v-list-tile
                @click="redirect(submenu.route)"
                style="padding-left: 30px; color: #a6a6a6;"
                :key="submenu.title"
                ripple>
                <v-list-tile-content>
                  <v-list-tile-title>{{ submenu.title }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list-group>
        </template>
      </v-list>
    </v-navigation-drawer>

    <!-- header -->
    <v-toolbar
      color="#ffffff"
      height="50px"
      style="box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .5) !important;"
      app
      fixed
      flat>
      <v-toolbar-side-icon @click="setDrawer(!drawer)" style="margin-left: -20px">
        <v-icon color="secondary">menu</v-icon>
      </v-toolbar-side-icon>
      <v-spacer></v-spacer>
      <v-btn-toggle v-model="default_toggle">
        <v-menu
          bottom
          origin="center center"
          left
          max-width="400"
          max-height="450"
          light
          transition="scale-transition">
          <v-btn flat slot="activator" style="opacity: 1;" class="mr-2">
            <v-badge overlap color="primary" dark>
              <span slot="badge" style="font-size: 10px;">6</span><v-icon>notifications</v-icon>
            </v-badge>
          </v-btn>
          <v-list three-line>
            <template v-for="(item, index) in notifications">
              <v-subheader
                v-if="item.header"
                :key="item.header">
                {{ item.header }}
              </v-subheader>

              <v-divider
                v-else-if="item.divider"
                :key="index"
                :inset="item.inset">
              </v-divider>

              <v-list-tile
                @click="redirect()"
                v-else
                :key="item.title"
                avatar>
                <v-list-tile-avatar><img :src="item.avatar"></v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title v-html="item.title"></v-list-tile-title>
                  <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-menu>
        <v-menu
          bottom
          origin="center center"
          left
          max-width="400"
          max-height="450"
          light
          transition="scale-transition">
          <v-btn flat slot="activator" style="opacity: 1;" class="mr-1">
            <v-badge overlap color="primary">
              <span slot="badge" style="font-size: 10px;">8</span><v-icon>mail</v-icon>
            </v-badge>
          </v-btn>
          <v-list three-line>
            <template v-for="(item, index) in notifications">
              <v-subheader
                v-if="item.header"
                :key="item.header">
                {{ item.header }}
              </v-subheader>

              <v-divider
                v-else-if="item.divider"
                :key="index"
                :inset="item.inset">
              </v-divider>

              <v-list-tile
                @click="redirect()"
                v-else
                :key="item.title"
                avatar>
                <v-list-tile-avatar><img :src="item.avatar"></v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title v-html="item.title"></v-list-tile-title>
                  <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-menu>
      </v-btn-toggle>
      <v-toolbar-items>
        <v-menu
          bottom
          origin="center center"
          light
          left
          transition="scale-transition">
          <v-btn flat slot="activator" class="hidden-sm-and-down pr-0" small>
            <v-icon>account_circle</v-icon> WKWK
            <v-icon>keyboard_arrow_down</v-icon>
          </v-btn>
          <v-btn flat slot="activator" class="hidden-md-and-up">
            <v-icon>account_circle</v-icon>
          </v-btn>
          <v-list dense>
            <v-list-tile class="pb-1">
              <v-list-tile-avatar>
                <img src="./assets/naruto-angry.jpg">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>Version 0.1.0</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile @click="redirect()">
              <v-list-tile-action style="min-width: 30px;"><v-icon color="#a6a6a6" size="15">contacts</v-icon></v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ 'Contacts' }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="redirect()">
              <v-list-tile-action style="min-width: 30px;"><v-icon color="#a6a6a6" size="15">person_pin</v-icon></v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ 'Profile' }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="dialogLogout = true">
              <v-list-tile-action style="min-width: 30px;">
                <v-icon color="#a6a6a6" size="15">exit_to_app</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ 'Logout' }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
      <v-dialog v-model="dialogLogout" persistent lazy absolute max-width="290">
        <v-card>
          <v-card-title
            class="headline grey lighten-2"
            primary-title>
            Logout ?
          </v-card-title>
          <v-progress-linear v-bind:indeterminate="true" v-show="loading"></v-progress-linear>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="grey--text darken-1" flat="flat" @click.native="dialogLogout = false">Batal</v-btn>
            <v-btn class="red--text darken-1" flat="flat" @click="doLogout()" :disabled="loading">
              <v-icon>exit_to_app</v-icon> {{ 'Logout' }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>

    <!-- content -->
    <v-content v-scroll="onScroll" style="padding-bottom: 10px">
      <v-container
        fluid
        style="padding: 0px; padding-left: 10px; padding-right: 10px">
        <router-view></router-view>
      </v-container>
    </v-content>

    <!-- footer -->
    <v-footer
      app
      light
      inset
      color="#f3f3f3"
      height="40px"
      style="position: inherit; border-top: 1px solid #eaeaea;">
      <span class="px-2">&copy; {{ new Date().getFullYear() }} Rori | Made With <v-icon small color="orange">favorite</v-icon></span>
    </v-footer>
    <v-tooltip top v-if="offsetTop > 100">
      <template slot="activator">
        <v-btn
          color="primary"
          bottom
          fixed
          right
          fab
          small
          @click="$vuetify.goTo(0, effectScroll)">
          <v-icon>keyboard_arrow_up</v-icon>
        </v-btn>
      </template>
      <span>To Top</span>
    </v-tooltip>
  </v-app>
</template>

<script>
import {
  mapGetters,
  mapActions,
  mapMutations
} from 'vuex'
import Snackbar from './components/Snackbar'

export default {
  components: {
    Snackbar
  },
  data: () => ({
    offsetTop: 0,
    effectScroll: {
      duration: 300,
      offset: 0,
      easing: 'easeInOutCubic'
    },
    menus: [
      // menu beranda
      {
        icon: 'home',
        title: 'Beranda',
        subheader: true,
        childs: []
      },
      {
        icon: 'home',
        title: 'Home',
        route: 'home',
        childs: []
      },
      {
        icon: 'bookmark',
        title: 'About Me',
        route: 'about',
        childs: []
      },
      // menu master
      {
        icon: 'home',
        title: 'Master',
        subheader: true,
        childs: []
      },
      {
        icon: 'assignment',
        title: 'Category',
        route: 'categories',
        childs: []
      },
      {
        icon: 'shopping_cart',
        title: 'Item',
        route: 'items',
        childs: []
      },
      // menu pengaturan
      {
        icon: 'home',
        title: 'Setting',
        subheader: true,
        childs: []
      },
      {
        icon: 'format_list_bulleted',
        title: 'User',
        route: false,
        childs: []
      },
      {
        icon: 'lock_open',
        title: 'Role',
        route: false,
        childs: []
      }
    ],
    dialogLogout: false,
    loading: false,
    notifications: [
      { header: 'Today' },
      {
        avatar: require('./assets/naruto-angry.jpg'),
        title: 'Brunch this weekend?',
        subtitle: "<span class='text--primary'>Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
      },
      { divider: true, inset: true },
      {
        avatar: require('./assets/naruto-angry.jpg'),
        title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
        subtitle: "<span class='text--primary'>to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend."
      },
      { divider: true, inset: true },
      {
        avatar: require('./assets/naruto-angry.jpg'),
        title: 'Oui oui',
        subtitle: "<span class='text--primary'>Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?"
      },
      { divider: true, inset: true }
    ],
    default_toggle: null
  }),
  computed: {
    ...mapGetters([
      'drawer'
    ])
  },
  methods: {
    ...mapActions([
      'showSnackbar'
    ]),
    ...mapMutations({
      setDrawer: 'DRAWER'
    }),
    onScroll (e) {
      this.offsetTop = window.scrollY
    },
    onResize () {
      const mobile = window.innerWidth < 600
    },
    redirect (route) {
      if (!route) {
        this.showSnackbar({ color: 'info', msg: 'Coming Soon' })
      } else {
        this.$router.push({ name: route })
      }
    },
    doLogout () {
      this.showSnackbar({ color: 'info', msg: 'Coming Soon' })
      this.dialogLogout = false
    }
  }
}
</script>

<style>
  .disabled {
    color: grey;
    pointer-events: none
  }
</style>
