<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadcrumbs" class="pt-3 pl-0">
      <template slot="item" slot-scope="props">
        <a :href="props.item.href" :class="[props.item.disabled && 'disabled']">{{ props.item.text.toUpperCase() }}</a>
      </template>
    </v-breadcrumbs>
    <v-flex d-flex xs12 order-xs5>
      <v-layout column>
        <v-flex>
          <v-card>
            <v-card-text>
              <v-container grid-list-md>
                <v-form>
                  <v-layout>
                    <v-flex xs12 sm6>
                      <v-text-field
                        :label="'Item Name*'"
                        name="item_name"
                        v-model="itemForm.item_name"
                        v-validate="'required'"
                        data-vv-name="item_name"
                        data-vv-as="Item Name"
                        :error-messages="errors.collect('item_name')"
                        required
                        @keyup.enter="submit">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete
                        v-model="itemForm.id_category"
                        :hint="`Selected category: ${getCategoryName(itemForm.id_category)}`"
                        :items="categories"
                        item-text="text"
                        item-value="id"
                        persistent-hint
                        clearable
                        label="Select Category*"
                        name="id_category"
                        v-validate="'required'"
                        data-vv-name="id_category"
                        data-vv-as="Category"
                        :error-messages="errors.collect('id_category')">
                      </v-autocomplete>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12 sm6>
                      <v-text-field
                        :label="'Item Price*'"
                        name="item_price"
                        v-model="itemForm.item_price"
                        v-validate="'required'"
                        data-vv-name="item_price"
                        data-vv-as="Item Price"
                        :error-messages="errors.collect('item_price')"
                        required
                        @keyup.enter="submit">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        :label="'SKU Number*'"
                        name="sku_number"
                        v-model="itemForm.sku_number"
                        v-validate="'required'"
                        data-vv-name="sku_number"
                        data-vv-as="SKU Number"
                        :error-messages="errors.collect('sku_number')"
                        required
                        @keyup.enter="submit">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12 sm6>
                      <v-text-field
                        :label="'Min Stock*'"
                        name="min_stock"
                        type="number"
                        v-model="itemForm.min_stock"
                        v-validate="'required'"
                        data-vv-name="min_stock"
                        data-vv-as="Min Stock"
                        :error-messages="errors.collect('min_stock')"
                        required
                        @keyup.enter="submit">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-select
                        label="Status"
                        v-model="itemForm.is_active"
                        :hint="`Default is, ${itemForm.is_active ? 'Active' : 'Non Active'} `"
                        :items="statusOptions"
                        item-text="text"
                        item-value="value"
                        persistent-hint>
                      </v-select>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs12 sm12>
                      <v-textarea
                        label="Description"
                        v-model="itemForm.description"
                        hint="Enter Description">
                      </v-textarea>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-container>
            </v-card-text>
            <v-divider v-show="!loading"></v-divider>
            <v-card-actions>
            <!-- button back -->
            <v-btn :to="{name: 'items'}" small><v-icon>keyboard_arrow_left</v-icon>Back</v-btn>
            <v-spacer></v-spacer>

            <!-- button reset -->
            <v-btn @click="reset()" v-if="!id" small>{{ 'Reset' }}</v-btn>

            <!-- button submit -->
            <v-btn
              :loading="loading"
              small
              color="primary"
              :disabled="loading"
              @click="submit()">
              {{ id ? 'Update' : 'Save' }}
            </v-btn>
          </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
import { items, options } from '~/config/api'
import { cloneDeep, find } from 'lodash'

const itemForm = {
  item_name: '',
  id_category: '',
  item_price: '',
  sku_number: '',
  min_stock: '',
  is_active: 1,
  description: ''
}

export default {
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      id: null,
      itemForm: {
        ...itemForm
      },
      categories: [],
      loading: false,
      model: null,
      breadcrumbs: [
        { text: 'Items', disabled: false, href: 'javascript:void(0)' },
        { text: `${this.$route.params.id ? 'Edit Items' : 'Create Items'}`, disabled: true, href: 'javascript:void(0)' }
      ],
      statusOptions: [
        { text: 'Active', value: 1},
        { text: 'Non Active', value: 0}
      ]
    }
  },
  mounted () {
    this.reset()
    this.getOptionsCategory()
    if (this.$route.params.id) {
      this.id = this.$route.params.id
      this.getItemById()
    }
  },
  methods: {
    getCategoryName (id) {
      let category = find(this.categories, (cat) => {
        return cat.id === id
      })

      let name = ''

      if (category) {
        name = category.text
      }

      return name
    },
    getOptionsCategory () {
      axios.get(`${options.categories}`)
        .then(res => {
          const { data } = res
          this.categories = data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getItemById () {
      this.loading = true
      axios.get(`${items}/${this.id}`)
        .then(res => {
          this.loading = false
          if (res.status === 200) {
            const { data } = res.data
            this.itemForm = {
              item_name: data.item_name,
              id_category: data.id_category,
              item_price: data.item_price,
              sku_number: data.sku_number,
              min_stock: data.min_stock,
              is_active: data.is_active,
              description: data.description
            }
          }
        })
        .catch(err => {
          this.loading = false
          console.log(err)
        })
    },
    submit () {
      this.$validator.validateAll().then((valid) => {
        if (valid) {
          if (this.id) {
            this.updateItem()
          } else {
            this.createItem()
          }
        }
      })
    },
    createItem () {
      this.loading = true
      axios.post(items, this.itemForm)
        .then(res => {
          this.loading = false
          if (res.status === 201) {
            const { data } = res
            this.$router.push({name: 'items'})
            this.$store.dispatch('showSnackbar', { color: 'success', msg: data.msg })
            this.reset()
          }
        })
        .catch(err => {
          this.loading = false
          const { status, data } = err.response
          if (status === 422) {
            for (var field in data) {
              this.errors.add({ field: field, msg: data[field][0] })
            }
          }
        })
    },
    updateItem () {
      this.loading = true
      axios.put(`${items}/${this.id}`, this.itemForm)
        .then(res => {
          this.loading = false
          if (res.status === 200) {
            const { data } = res
            this.$router.push({name: 'items'})
            this.$store.dispatch('showSnackbar', { color: 'success', msg: data.msg })
            this.reset()
          }
        })
        .catch(err => {
          this.loading = false
          const { status, data } = err.response
          if (status === 422) {
            for (var field in data) {
              this.errors.add({ field: field, msg: data[field][0] })
            }
          }
        })
    },
    reset () {
      this.itemForm = cloneDeep(itemForm)
      this.clear()
    },
    clear () {
      this.$validator.reset()
      this.errors.clear()
    }
  }
}
</script>
