<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadcrumbs" class="pt-3 pl-0">
      <template slot="item" slot-scope="props">
        <a :href="props.item.href" :class="[props.item.disabled && 'disabled']">{{ props.item.text.toUpperCase() }}</a>
      </template>
    </v-breadcrumbs>
    <v-spacer></v-spacer>
    <v-tooltip bottom>
      <template slot="activator">
        <v-btn
          color="primary"
          small
          ripple
          fab
          :to="{name: 'create-items'}"
          style="height: 35px; width: 35px;" class="mt-2">
          <v-icon style="text-align: center; margin-top: 15px;">add</v-icon>
        </v-btn>
      </template>
      <span>New Data</span>
    </v-tooltip>
    <v-flex d-flex xs12 order-xs5>
      <v-layout column>
        <v-flex>
          <v-card>
            <v-card-title>
              Items
              <v-spacer></v-spacer>
              <v-text-field
                v-model="key"
                append-icon="search"
                label="Search"
                @keyup.enter="getAllItems(1)"
                single-line
                hide-details>
              </v-text-field>
            </v-card-title>
            <v-data-table
              hide-actions
              :headers="headers"
              :items="items"
              :pagination.sync="pagination"
              :total-items="pagination.total"
              :loading="loading">
              <template slot="items" slot-scope="props">
                <td nowrap>{{ props.item.item_name }}</td>
                <td nowrap>{{ props.item.category_name }}</td>
                <td nowrap>{{ props.item.item_price }}</td>
                <td nowrap>{{ props.item.sku_number }}</td>
                <td nowrap>{{ props.item.min_stock }}</td>
                <td>
                  <v-chip :color="props.item.is_active ? 'info' : 'red'" text-color="white" small>
                    {{ props.item.is_active ? 'Active' : 'Non Active'}}
                  </v-chip>
                </td>
                <td nowrap>{{ props.item.description }}</td>
                <td class="text-xs-center">
                  <v-icon
                    @click="() => {
                      $router.push({ name: 'update-items', params: { id: props.item.id_item } })
                    }"
                    small
                    class="mr-2"
                    color="success">
                    edit
                  </v-icon>
                  <v-icon
                    @click="openDialogDelete(props.item)"
                    small
                    color="red">
                    delete
                  </v-icon>
                </td>
              </template>
            </v-data-table>
            <br/>
            <div class="text-xs-center pb-3">
              <v-pagination
                v-model="pagination.page"
                color="primary"
                :length="pages"
                @input="getAllItems"
                :total-visible="7"
                circle>
              </v-pagination>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>

    <!-- dialog delete -->
    <v-dialog v-model="dialogDelete.show" persistent lazy absolute max-width="390">
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title>
          Delete {{ dialogDelete.data.title }}
        </v-card-title>
        <v-card-text>Are you sure deleted data ?</v-card-text>
        <v-divider></v-divider>
        <v-progress-linear v-bind:indeterminate="true" v-show="loading"></v-progress-linear>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="grey--text darken-1"
            flat
            @click.native="closeDialogDelete()">
            Cancel
          </v-btn>
          <v-btn
            class="red--text darken-1"
            flat
            @click.native="doDelete()"
            :disabled="loading">
            <v-icon>delete</v-icon> Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import axios from 'axios'
import { items } from '~/config/api'
import _ from 'lodash'

const dialogDelete = {
  show: false,
  data: {
    id: null,
    title: null
  }
}

export default {
  data () {
    return {
      loading: false,
      items: [],
      key: '',
      pagination: {
        page: 1,
        per_page: 5,
        total: 0,
        sortBy: 'items.created_at',
        orderBy: 'DESC'
      },
      breadcrumbs: [
        { text: 'Items', disabled: false, href: 'javascript:void(0)' }
      ],
      headers: [
        { text: 'Items Name', align: 'left', sortable: false, value: 'item_name' },
        { text: 'Category Name', align: 'left', sortable: false, value: 'category_name' },
        { text: 'Items Price', align: 'left', sortable: false, value: 'item_price' },
        { text: 'Sku Number', align: 'left', sortable: false, value: 'sku_number' },
        { text: 'Min Stock', align: 'left', sortable: false, value: 'min_stock' },
        { text: 'Status', align: 'left', sortable: false, value: 'is_active' },
        { text: 'Description', align: 'left', sortable: false, value: 'description' },
        { text: 'Actions', align: 'center', sortable: false, value: 'id_category' }
      ],
      dialogDelete: {
        ...dialogDelete
      }
    }
  },
  created() {
    this.reset()
    this.getAllItems(this.pagination.page)
  },
  computed: {
    pages () {
      return this.pagination.per_page ? Math.ceil(this.pagination.total / this.pagination.per_page) : 0
    },
    sortBy () {
      return this.pagination.sortBy
    }
  },
  methods: {
    getAllItems: _.debounce(
      function (page) {
        this.loading = true
        const params = {
          page: page,
          per_page: this.pagination.per_page,
          sortBy: this.pagination.sortBy,
          orderBy: this.pagination.orderBy,
          key: this.key
        }
        axios.get(items, { params })
          .then(res => {
            this.loading = false
            if (res.status === 200) {
              const { data } = res.data
              this.items = data.data
              this.pagination = _.assign(this.pagination, _.omit(data, ['data']))
              this.pagination.page = page
            }
          })
          .catch(err => {
            this.loading = false
            console.log(err.response)
          })
      }, 300
    ),
    reset () {
      this.key = ''
      this.pagination.per_page = 5
    },
    openDialogDelete (items) {
      this.dialogDelete = {
        show: true,
        data: {
          id: items.id_item,
          title: items.item_name
        }
      }
    },
    closeDialogDelete () {
      this.dialogDelete = _.cloneDeep(dialogDelete)
    },
    doDelete () {
      this.loading = true
      axios.delete(`${items}/${this.dialogDelete.data.id}`)
        .then(res => {
          this.loading = false
          if (res.status === 200) {
            const { data } = res
            this.$store.dispatch('showSnackbar', { color: 'success', msg: data.msg })
            this.closeDialogDelete()
            this.getAllItems(this.pagination.page)
          }
        })
        .catch(err => {
          this.loading = false
          const { data } = err.response
          this.$store.dispatch('showSnackbar', { color: 'error', msg: data.msg })
          this.closeDialogDelete()
        })
    }
  },
  watch: {
    'pagination.per_page' () {
      this.pagination.page = 1
      this.getAllItems(this.pagination.page)
    },
    sortBy: {
      handler (column) {
        if (column !== null && column === this.pagination.sortBy) {
          this.getAllItems(this.pagination.page)
        }
      },
      deep: true
    }
  }
}
</script>
