<template>
  <v-layout row wrap>
    <v-breadcrumbs :items="breadcrumbs" class="pt-3 pl-0">
      <template slot="item" slot-scope="props">
        <a :href="props.item.href" :class="[props.item.disabled && 'disabled']">{{ props.item.text.toUpperCase() }}</a>
      </template>
    </v-breadcrumbs>
    <v-spacer></v-spacer>
    <v-flex d-flex xs12 order-xs5>
      <v-layout column>
        <v-flex>
          <v-card>
            <v-timeline>
              <v-timeline-item
                v-for="n in 3"
                :key="n"
                color="orange lighten-2"
                large>
                <template v-slot:opposite>
                  <span>Lorem ipsum</span>
                </template>
                <v-card class="elevation-2">
                  <v-card-title class="headline">Lorem ipsum</v-card-title>
                  <v-card-text>
                    Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.
                  </v-card-text>
                </v-card>
              </v-timeline-item>
            </v-timeline>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data () {
    return {
      breadcrumbs: [
        { text: 'About Me', disabled: false, href: 'javascript:void(0)' }
      ]
    }
  }
}
</script>
