<template>
  <v-snackbar
    v-model="snackbar.show"
    :timeout="snackbar.timeout"
    :color="snackbar.color"
    top>
    {{ snackbar.msg }}
    <v-btn
      :color="snackbar.color ? 'white' : 'pink'"
      flat
      @click="hideSnackbar">
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'snackbar'
    ])
  },
  methods: {
    ...mapMutations({
      hideSnackbar: 'HIDE_SNACKBAR'
    })
  }
}
</script>
